{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,

  "vueIndentScriptAndStyle": true,

  "bracketSpacing": true,
  "arrowParens": "always",

  "htmlWhitespaceSensitivity": "ignore",

  "singleAttributePerLine": false,
  "bracketSameLine": false,

  "endOfLine": "lf"
}
