@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@import "tailwindcss";



:root {
    --font-base: 'Inter', sans-serif;
    --font-heading: 'Unbounded', sans-serif;
}

.font-base {
    font-family: var(--font-base), serif;
}

.font-heading {
    font-family: var(--font-heading), serif;
}
