@use 'variables' as *;
@use 'mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-base;
  color: $color-text;
  background-color: $color-bg;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: transparent;
  border: none;
}

th {
  font-weight: normal;
}

// --- Глобальные классы ---

// Кнопки
.btn {
  @include btn-base;

  &--danger {
    background: $color-danger;
    color: #ffffff;
    border-color: $color-danger;

    &:hover:not(:disabled) {
      background: $color-danger-dark;
    }
  }

  &--outline-danger {
    color: #991b1b;
    border-color: #991b1b;

    &:hover:not(:disabled) {
      background: #fee2e2;
    }
  }

  &--active {
    background: $btn-bg-active;
    font-weight: 600;
  }
}

// Инпуты
.input {
  @include input-base;

  &--error {
    border-color: $color-danger;
  }
}

// Спиннер
.spinner {
  @include spinner;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
